@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <p>
                Denne applikation er blevet udvikliet for at give et mere visuelt overblik over data fra Timelog.
                Applikationen havde oprindeligt et fokus på overarbejde, men er sidenhen blevet udvidet til også at vise Fed Torsdag / R&D og Ferie.
            </p>
            <p>
                Alt data i denne applikation bliver læst direkte fra Timelog og præsenteret. Data bliver altså ikke gemt eller cachet nogen steder.
                Data bliver altid kun læst, og aldrig skrevet. Det er derfor ikke muligt at rette på de registreringer som er lavet og dermed komme til at "ødelægge noget" ved at bruge denne applikation.
            </p>
            <p>
                Hvis du går og mangler et overblik over noget fra timelog så kom forbi PBM eller send en mail på pbm@impact.dk og spørg efter en feature, 
                så kan det være at den bliver udviklet i den næste version.
            </p>
        </div>
    </div>
</div>

